*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
}
body            { font-family: 'Poppins', sans-serif; font-size: 14px;}
a, h1, h2       { color: #000000; }
h1              { border-bottom: 2px solid #eee; font-size: 24px; margin-top: 80px; margin-left: 100px;}
h2              { font-size: 24px; font-weight: 500; margin-top: 80px; margin-left: 100px;}
p               {font-size: 18px; font-weight: 500; margin-top: 20px; margin-left: 100px;}


table.dataframe, .dataframe th, .dataframe td, .dataframe tr {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding: 10px 20px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 100px;
    
}
table.dataframe th{
    background-color: #5D4954;
    color: rgb(226, 226, 226);    
}
table.dataframe tr:nth-of-type(even){
    background-color: #f3f3f3;
}

body {
  background:#333;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: 'roboto', sans-serif;
}

a {
  color: #FFF;
}

p {
  text-align: center;
}

.toggle,
[id^=drop] {
  display: none;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #515f9c;
  font-family: "Poppins", sans-serif;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}


#main-toggle {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.nav-icon:before,
.nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.nav-icon:before {
  top: 5px;
}

.nav-icon:after {
  top: -5px;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: #515f9c;
}

nav a {
  display: block;
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav ul li ul li:hover {
  background: #7083d8;
}

nav a:hover {
  background-color: #7083d8;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul li:hover>ul {
  display: inherit;
}

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li>a:after {
  content: ' +';
}

li>a:only-child:after {
  content: '';
}


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

  nav {
    margin: 0;
  }
  nav ul{
    float:none;
  }
  .toggle+a,
  .menu {
    display: none;
  }

  .toggle {
    display: block;
    background-color: #515f9c;
    padding: 0 20px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    border: none;
  }

  .toggle:hover {
    background-color: #7083d8;
  }

  [id^=drop]:checked+ul {
    display: block;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav ul ul ul a {
    background-color: #141625;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #1f243b;
  }

  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
  }

  nav ul ul li:hover>ul,
  nav ul li:hover>ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;

  }
}
.navbar-link{
  pointer-events: all;
}

.burger{
    display: block;
    cursor: pointer;
    z-index: 2
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (min-width: 901px) {
  .logo{
    margin: auto;
  }
}
@media screen and (max-width: 900px){
  body{
      overflow-x: hidden;
  }
  h1, h2, p, table.dataframe, .dataframe th, .dataframe td, .dataframe tr{
      margin-left: 20px;
  }
  nav{
      position: relative;
  }
  .logo{
    position: relative
  }
  nav ul{
    display: block;
    width: 100%;
    justify-content: center;

  }
}
.nav-active{
  transform: translateX(0%);
}
@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);    
}